.custom-bullet {
    border-radius: 9px;
    background: rgba(104, 24, 238, 0.10);
    padding: 16px 15px;
    display: flex;
    padding: 16px 15px;
    flex-direction: column;
    align-items: flex-start;
}


.benefit-item {
    padding: 8px;
    display: flex;
}

.benefit-header {
    padding: 14px;
   
}